.vertical_ruler_tick_layout {
  height: 100px;
  width: 32px;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  border-bottom: 1px solid var(--color-grey30);
  background-color: var(--color-grey05);
}

.vertical_ruler_mark_layout {
  width: 8px;

  display: flex;
  flex-direction: column;
}

.vertical_ruler_mark {
  flex: 0 0 10px;
  width: 100%;

  box-sizing: border-box;
  border-bottom: 1px solid var(--color-grey30);
}

.vertical_ruler_label {
  padding-inline: 4px;
  height: 100px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: end;
}
