.horizontal_ruler_layout {
  display: flex;

  width: 0;
  height: 32px;

  position: absolute;
  left: 32px;
  overflow: hidden;

  box-sizing: border-box;
  border-bottom: 1px solid var(--color-grey10);
}
